

<%- include('./templates/header')  %>     


<%- include('./templates/nav')  %>    

<main>
    <h1>  <%- titulo %>   </h1> 
    <i class="fa-duotone fa-skull-crossbones"></i>
</main>



<%- include('./templates/footer')  %> 



  
