    <%- include('./templates/header') %>


    <%- include('./templates/nav') %>

    <% arrayLibros.forEach(item => { %>
        <p> <%= item.titulo %> </p>
    <% }) %>


    <%- include('./templates/footer') %>