
<%- include('./templates/header')  %>  



<%- include('./templates/nav')  %>    

<main>
    <h1>Servicios</h1>
</main>

<section>
    <% servicios.forEach(element => { %>
        <p> <%= element.servicio %></p>
    <% }) %>
</section>


<%- include('./templates/footer')  %>  